@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #ffffff;
    --secondary-color: #b4e9ff;
    --accent-color: #072843;

    --primary-text-color: #072843;
    --secondary-text-color: #0083bc;

    --line-color: #072843;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--accent-color);

    overflow: hidden;
}

/* WRAPPER */

.wrapper {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */

.sidebar {
    width: 340px;
    height: 100vh;

    background-color: var(--accent-color);

    padding: 2rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 100px;

    transition: width 0.35s ease;

    overflow: hidden;
}

/* COLLAPSED */

.sidebar.collapsed {
    width: 120px;
}

/* TOP */

.sidebar-top {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 15px;

    margin-top: 3rem;
}

/* LOGO */

.logo-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;

    transition:
        opacity 0.2s ease,
        transform 0.3s ease,
        width 0.3s ease;
}

/* TOGGLE BUTTON */

.toggle-btn {
    background: none;
    border: none;

    cursor: pointer;

    display: flex;
    align-items: start;
    justify-content: start;
}

.toggle-btn img {
    width: 40px;
}

/* LINKS */

.sidebar-links {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    flex: 1;
}

/* NAV LINK */

.nav-link {
    text-decoration: none;

    border-radius: 18px;
    width: 100%;

    transition: background-color 0.3s ease;
}

/* LINK CONTENT */

.link-content {
    display: flex;
    align-items: center;

    gap: 1rem;

    padding: 1rem;

    transition:
        padding 0.3s ease,
        gap 0.3s ease;
}

/* ICONS */

.link-content img {
    width: 40px;
    min-width: 40px;
}

/* LINK TEXT */

.link-text {
    color: var(--secondary-color);

    font-size: 20px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;

    transition:
        opacity 0.2s ease,
        transform 0.3s ease,
        width 0.3s ease;
}

/* ACTIVE LINK */

.nav-link.active {
    background-color: var(--secondary-color);
}

.nav-link.active .link-text {
    color: var(--primary-text-color);
}

/* COLLAPSED STATE */

.sidebar.collapsed .logo-text,
.sidebar.collapsed .link-text,
.sidebar.collapsed .user-details {
    opacity: 0;

    width: 0;

    overflow: hidden;

    transform: translateX(-20px);

    pointer-events: none;
}

/* CENTER ICONS */

.sidebar.collapsed .link-content {
    gap: 0;
}

/* BOTTOM */

.sidebar-bottom {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

/* USER PROFILE */

.user-profile {
    display: flex;
    align-items: center;

    gap: 1rem;
}

/* AVATAR */

.avatar {
    width: 60px;
    height: 60px;

    border-radius: 50%;

    background-color: white;

    flex-shrink: 0;
}

/* USER DETAILS */

.user-details {
    color: white;

    white-space: nowrap;
    overflow: hidden;

    transition:
        opacity 0.2s ease,
        transform 0.3s ease,
        width 0.3s ease;
}

.user-details h4 {
    font-size: 1rem;
    font-weight: 600;
}

.user-details p {
    font-size: 0.85rem;
    opacity: 0.8;
}

/* MAIN CONTENT */

.main-content {
    flex: 1;

    height: 100%;

    overflow-y: auto;

    padding: 2rem;

    margin-top: 2rem;
    margin-right: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
}

/* DASHBOARD SECTION */

.dashboard-section h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.dashboard-section h1 {
    font-size: 48px;
    color: var(--primary-text-color);
    padding-bottom: 8px;
}

.dashboard-section p {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.welcome-box {
    border: 3px solid var(--line-color);
    border-radius: 30px;
    background-color: var(--secondary-color);
    padding: 40px;
    box-shadow: 8px 8px 0 var(--line-color);
    margin: 20px 0 40px 0;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

hr {
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    background-color: var(--accent-color);
    height: 3px;
    width: 100%;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border: 3px solid var(--accent-color);
    border-radius: 20px;
    outline: none;
    box-shadow: 8px 8px 0 var(--accent-color);
    transition: all 0.15s ease-in-out;
}

.item-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.items h2 {
    font-size: 32px;
    color: var(--primary-text-color);
}

.items p {
    font-size: 16px;
    font-weight: 500;
}

.items h3 {
    color: var(--accent-color);
    padding-top: 20px;
}

.items img {
    width: 5rem;
}

.items:hover {
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 0 var(--accent-color);
    transform: translate(4px, 4px);
}
