@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #ffffff;
    --secondary-color: #b4e9ff;
    --accent-color: #072843;

    --primary-text-color: #072843;
    --secondary-text-color: #0083bc;

    --line-color: #072843;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--accent-color);

    overflow: hidden;
}

/* WRAPPER */

.wrapper {
    display: flex;
    height: 100vh;
}

/* MAIN CONTENT */

.main-content {
    flex: 1;

    height: 100%;

    overflow-y: auto;

    padding: 2rem;

    margin-top: 2rem;
    margin-right: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
}

/* DASHBOARD SECTION */

.dashboard-section h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.dashboard-section h1 {
    font-size: 48px;
    color: var(--primary-text-color);
    padding-bottom: 8px;
}

.dashboard-section p {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text-color);
}

.welcome-box {
    position: relative;
    border: 3px solid var(--line-color);
    border-radius: 30px;
    background-color: var(--secondary-color);
    padding: 40px;
    margin: 20px 40px 40px 40px;
    box-shadow: 8px 8px 0 var(--line-color);
    min-height: 250px;
    overflow: visible;
}

.welcome-text {
    position: relative;
    z-index: 3;
}

.welcome-box img {
    position: absolute;
    right: 100px;
    bottom: -60px;
    width: 470px;
    z-index: 2;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

hr {
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    background-color: var(--accent-color);
    height: 3px;
    width: 100%;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    padding: 0 40px;
    gap: 20px;
}

.items-link {
    text-decoration: none;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border: 3px solid var(--accent-color);
    border-radius: 20px;
    outline: none;
    box-shadow: 8px 8px 0 var(--accent-color);
    transition: all 0.15s ease-in-out;
}

.item-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.items h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.items p {
    font-size: 16px;
    font-weight: 500;
}

.items img {
    width: 5rem;
}

.items:hover {
    background-color: var(--secondary-color);
    box-shadow: 2px 2px 0 var(--accent-color);
    cursor: pointer;
    transform: translate(4px, 4px);
}
