@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #ffffff;
    --secondary-color: #b4e9ff;
    --accent-color: #072843;
    --primary-text-color: #072843;
    --secondary-text-color: #0083bc;
    --line-color: #072843;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color);
}

nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 3px;
    background-color: var(--accent-color);
    border-radius: 50px;
}

.nav-left {
    justify-self: start;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    justify-items: center;
}

.nav-right {
    justify-self: end;
}

.hamburger {
    background: none;
    border: none;
    font-size: 36px;
    color: var(--accent-color);
    cursor: pointer;
    z-index: 1500;
    justify-self: start;
}

.nav-left,
.nav-right {
    display: none;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 100px 30px;
    transition: left 0.3s ease;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);
    z-index: 2000;
}

.nav-menu.active {
    left: 0;
}

.mobile-links {
    flex-direction: column;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: var(--accent-color);
}

.nav-links,
.mobile-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 48px;
}

nav a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 20px;
}

nav a:hover,
nav a.active {
    font-weight: 700;
}

.signup-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-right: 8px;
    padding: 13px 32px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    border: 3px solid var(--accent-color);
    border-radius: 50px;
    box-shadow: 8px 8px 0 var(--accent-color);
    transition: all 0.15s ease-in-out;
}

.signup-btn:hover,
.getstarted-btn:hover {
    background-color: var(--secondary-text-color);
    color: var(--primary-color);
}

.signup-btn:active,
.getstarted-btn:active {
    box-shadow: 2px 2px 0 var(--accent-color);
    transform: translate(4px, 4px);
}

section {
    scroll-margin-top: 120px;
}

.home-section,
.about-section {
    padding: 80px 20px;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
}

.hero-text-section,
.about-text-section {
    text-align: center;
}

.hero-text-section h1,
.about-text-section h1 {
    font-size: clamp(32px, 8vw, 48px);
    font-weight: 400;
    line-height: 1.4;
}

span {
    font-weight: 700;
}

.hero-text-section p,
.about-text-section p {
    font-size: clamp(16px, 4vw, 24px);
    padding: 24px 0;
    max-width: 600px;
    margin: 0 auto;
}

.getstarted-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: 13px 32px;
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    border: 3px solid var(--accent-color);
    border-radius: 50px;
    box-shadow: 8px 8px 0 var(--accent-color);
    transition: all 0.15s ease-in-out;
}

.hero-img,
.folder-img {
    display: none;
}

.hero-img-svg,
.folder-img-svg {
    width: 100%;
    height: auto;
}

footer {
    margin: 24px 40px;
}

hr {
    border: none;
    border-radius: 50px;
    background-color: var(--accent-color);
    height: 3px;
    width: 100%;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 50px;
}

.title-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h2-footer {
    font-size: 24px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.6;
}

.links-footer {
    justify-self: start;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

.link a {
    color: var(--secondary-text-color);
}

.link a:hover {
    color: var(--primary-text-color);
    transition: 0.2s ease;
}

@media (min-width: 768px) {
    nav {
        padding: 24px 40px;
    }

    nav::after {
        left: 40px;
        right: 40px;
    }

    .hero-img,
    .folder-img {
        display: block;
        justify-self: center;
    }

    .hero-img-svg {
        max-width: 500px;
    }

    .folder-img-svg {
        max-width: 450px;
    }

    .footer-section {
        gap: 10px;
    }
}

@media (min-width: 1025px) {
    nav {
        padding: 24px 130px 24px 130px;
    }

    nav::after {
        left: 130px;
        right: 130px;
    }

    .hamburger,
    .close-menu {
        display: none;
    }

    .nav-menu,
    .hamburger,
    .close-menu {
        display: none;
    }

    .nav-left,
    .nav-right {
        display: block;
    }

    .nav-links {
        flex-direction: row;
    }

    .hero-section {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .home-section,
    .about-section {
        padding: 120px 150px;
    }

    .hero-text-section,
    .about-text-section {
        text-align: left;
    }

    .hero-img {
        justify-self: end;
    }

    .folder-img {
        justify-self: start;
    }

    .hero-img-svg {
        max-width: 700px;
    }

    .folder-img-svg {
        max-width: 600px;
    }

    .hero-text-section p,
    .about-text-section p {
        margin: 0;
    }

    footer {
        margin: 120px 130px 80px 130px;
    }

    .footer-section {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .title-footer {
        flex-direction: row;
        align-items: center;
    }

    .footer-section p {
        border-left: 1px solid var(--accent-color);
        padding-left: 30px;
    }

    .links-footer {
        justify-self: end;
    }
}
